{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <header class="header-user">
        <div class="header-user__heading">
            <img src="{{ asset('img/confetti.png') }}" alt="">
            <div>Profil du fêtard</div>
        </div>
    </header>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Registered</th>
                <td>{{ user.registered | date('y-m-d', 'Europe/Paris',  'fr_FR')}}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
