{% extends 'base.html.twig' %}

{% block title %}Les routes{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/city.js') }}" defer></script>
{% endblock %}

{% block header %}
<nav class="nav">
    <div class="nav__content-nav">
        <img src="{{ asset('img/logo.png') }}" alt="logo de Chiirz">
        
        <img src="{{ asset('img/svg/responsive-menu-btn.svg') }}" alt="burger-menu">

        <ul class="p p-20">
            <li> 
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li> 
                <a href="{{ path('itinerary_index') }}">Itinéraires</a>
            </li>
            <li> 
                <a href="#"> Mon compte </a>
            </li>
            <li> 
                <a href="#"> Rechercher </a>
            </li>
        </ul>   
    </div>
    
    <div class="nav__content-btn p p--16">
        <a href="#" > Se connecter </a>
        <a href="#" class="btn btn--secondary"> S'inscrire </a>
    </div>
</nav>
{% endblock %}

{% block body %}
    <header class="header-itinerer">
        <div class="header-itinerer__div">
            <div>
                <h1 class="title title--h1"> Les routes de la soif de </h1>
                <form id="redirectCity">
                    <select class="title title--h1" id="city-select" name="city">
                        <option value="{{ city.id }}">{{ city.name }}</option>
                        {% for c in cities %}
                            {% if c.id != city.id %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
            
            <div class="header-itinerer__button-wrapper">
                <a href="#" class="header-itinerer__button-wrapper__button btn btn--primary-bis">Créer une route</a>
                {# <form action="{{ app.request.uri }}" class="header__button-wrapper__select" method="POST" id="orderBySelect">
                    <label for="order-select">Trier par</label>
                    <select id="order-select" name="order">
                        {% for c in cities %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                    <img src="{{ asset('img/svg/drop-down.svg') }}" alt=""/>
                </form> #}
            </div>
        </div>

        <div class="header-itinerer__img-container">
            <img src="{{ asset('img/rocket.png') }}" alt="">
        </div>
    </header>

    <section class="itiner-container">
            {% for itinerary in city.itineraries %}
                <a class="itiner-container__card" href="{{ path('itinerary_show', {'id': itinerary.id}) }}">
                    <img class="itiner-container__card__img-bar" src="{{ itinerary.bar['steps'][0]['img'][0] }}" alt="{{ itinerary.name }}">
                    <div class="itiner-container__card__desc">
                        <h3 class="title title--h4">{{ itinerary.name }}</h3>
                        <div class="itiner-container__card__row p p--16">
                            <div>{# {itinerary.bar.numberOfSteps} #} Étapes</div>
                            <div class="itiner-container__card__row__rate">
                                <img src="{{ asset('img/svg/star.svg') }}" alt="☆">
                                <div>
                                    {{ itinerary.bar["avgRate"] }}
                                </div>
                            </div>
                        </div>
                        <div class="itiner-container__card__row">
                            <div>{{ itinerary.distance }}</div>
                            <div class="itiner-container__card__row__views">
                                <img src="{{ asset('img/svg/views.svg') }}" alt="vue">
                                <div>
                                {% if itinerary.views != null %}
                                    {{ itinerary.views }}
                                {% else %}
                                    0
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
    </section>
    </main>
{% endblock %}
