{% extends 'base.html.twig' %}

{% block header %}
    <header class="header header--home header--all">
        <nav class="nav">
            <div class="nav__content-nav">
                <img src="{{ asset('img/logo.png') }}" alt="logo de Chiirz">
                
                <img src="{{ asset('img/svg/responsive-menu-btn.svg') }}" alt="burger-menu">

                <ul class="p p-20">
                    <li> 
                        <a href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li> 
                        <a href="{{ path('itinerary_index') }}">Itinéraires</a>
                    </li>
                    <li> 
                        <a href="#"> Mon compte </a>
                    </li>
                    <li> 
                        <a href="#"> Rechercher </a>
                    </li>
                </ul>   
            </div>
            
        
            <div class="nav__content-btn p p--16">
                <a href="#" > Se connecter </a>
                <a href="#" class="btn btn--secondary"> S'inscrire </a>
            </div>
        </nav>

        <section class="hero">
            <div class="hero__text">
                <h1 class="title title--h1"> Prêt à te <br> mettre une <br> <span> mine </span> ? </h1>
                <p class="p p--16"> Prêt à explorer les meilleures adresses de Lyon, Paris ou Strasbourg 
                    pour une soirée (un peu trop) arrosée ? 
                    Trouve les  tournées de bars qui feront chavirer ton palais ou construis ton itinéraire de beuverie mémorable avec notre site ! </p>
                <div class="hero__text__btn">
                    <a href="#" class="btn btn--primary"> Créer une route de la soif </a>
                    <a href="#" class="btn btn--secondary"> Trouver un itinéraire </a>
                </div>
        
                <img src="{{ asset('img/happy-smiley.png') }}">
            </div>
        
            <div class="hero__img">
                <img class="hero__img__beer "src="{{ asset('img/hero-beer.png') }}">
            </div>
        </section>
    </header> 
{% endblock %}

{% block body %}

<section class="splide-section"> 
    <h2 class="title title--h2"> Choisis ta ville </h2>
    <div class="splide full-width" aria-labelledby="carousel-heading">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img src="{{ asset('img/carousel.png') }}"></li>
                <li class="splide__slide"><img src="{{ asset('img/carousel.png') }}"></li>
                <li class="splide__slide"><img src="{{ asset('img/carousel.png') }}"></li>
            </ul>
        </div>
    </div>
</section>

<section class="what-section">
    <h2 class="title title--h2"> <strong> Chiirz </strong> c'est quoi ? </h2>
    <p class="p p--16"> Permettez-moi de vous présenter Skoll, une entreprise qui propose de vous aider à trouver les meilleurs bars dans les villes de Paris, Lyon et Strasbourg. En utilisant notre plateforme, vous pouvez planifier votre itinéraire de soirée, découvrir les dernières tendances de la vie nocturne et trouver des endroits sympas pour sortir avec vos amis. En outre, notre site répertorie également les paris dans ces villes, pour les amateurs de jeux de hasard. Avec Skoll, vous êtes sûr de passer une soirée inoubliable !</p>
    <h3 class="title title--h3"> Autrement dit c'est </h3>
    <div class="what-section__articles-content">
        <article>
            <img src="{{ asset('img/beers.png') }}">
            <p class="p p--24 "> 57 <br> Etablissaments </p>
        </article>

        <article>
            <img src="{{ asset('img/beers.png') }}">
            <p class="p p--24 "> 57 <br> Etablissaments </p>
        </article>

        <article>
            <img src="{{ asset('img/beers.png') }}">
            <p class="p p--24 "> 57 <br> Etablissaments </p>
        </article>

        <article>
            <img src="{{ asset('img/beers.png') }}">
            <p class="p p--24 "> 57 <br> Etablissaments </p>
        </article>
    </div>
</section>


<script src="path-to-the-script/splide-extension-auto-scroll.min.js"></script>
<script> new Splide( '.splide' ).mount( window.splide.Extensions ); </script>

<script> 
const splide = new Splide( '.splide', {
  type   : 'loop',
  drag   : 'free',
  focus  : 'center',
  arrows : false,
  pagination : false,
  autoStart: boolean = true,
  perPage: 3,
  gap : '1.3rem',
  autoScroll: {
    speed: 2,
  },
} );

splide.mount();
</script>

{% endblock %}